html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #249393;
  background: url(../images/bg-yes.jpg) no-repeat center center fixed;
}

/*yes*/
.yes {
/*  color: hsla(0,0%,0%,.0);*/
  margin: 100px auto 60px auto;
  color: black;
}

/*@keyframes loading {
  from { 
    max-width: 0; 
  }
}

.yes:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 4em;
  color: #000000;
  animation: loading 2s linear infinite;
}*/

/*button*/
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 80px 10px 80px;
  text-decoration: none;
  border: none;
  font-family: 'Viga', sans-serif;
}

.btn:hover {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #096ead);
  background-image: -moz-linear-gradient(top, #3498db, #096ead);
  background-image: -ms-linear-gradient(top, #3498db, #096ead);
  background-image: -o-linear-gradient(top, #3498db, #096ead);
  background-image: linear-gradient(to bottom, #3498db, #096ead);
  text-decoration: none;
  border: none;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 50px auto;
  font-size: 100px;
  font-family: 'Viga', sans-serif;
}

#yes-side-text {
  display: none;
  font-family: 'Viga', sans-serif;
}
